

#menuWrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

#menuTitle {
    width: 100%;
    height: 90px;
    line-height: 90px;
    font-size: 36px;
    text-indent: 50px;
    margin-top: 15px;
}

.menuLeft {
    width: 850px;
    margin-left: 50px;
}

.menuLeftTitle {
    width: 100%;
    font-size: 23px;
    height: 40px;
    margin-bottom: 10px;
    line-height: 40px;
}

.menuLeftContent {
    width: 100%;
    height: 550px;
}

.menuBtn {
    float: left;
    margin-bottom: 13px;
    margin-right: 13px;
    background-image: url("/images/menuIcon/menuIcon.png");
}

.menu_baseData,
.menu_qftx,
.menu_remoteSense {
    width: 268px;
    height: 251px;
}

.menu_qftx {
    background-position: -280px 0;
}

.menu_remoteSense {
    background-position: -559px 0;
}

.menu_disasterStatistic {
    width: 268px;
    height: 118px;
    background-position: 0 -264px;
}

.menu_disasterQuery {
    width: 268px;
    height: 118px;
    background-position: -280px -264px;
}

.menu_paint {
    width: 268px;
    height: 118px;
    background-position: -559px -264px;
}


