

#disasterWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#disasterLeft {
    width: 350px;
    height: 100%;
    background-color: #313C47;
}

#disasterHeader {
    width: 100%;
    height: 90px;
}

#disasterTitleIcon {
    width:11px;
    height:17px;
    background-image:url("/images/pageReturn.png");
    margin-top:43px;
    margin-left:22px;
    float:left;
}

#disasterTitle {
    height:36px;
    width:260px;
    font-size:36px;
    margin-top:27px;
    margin-left:22px;
    float: left;
}

#disasterRight {
    position: absolute;
    height: 100%;
    background-color: #fff;
    left: 350px;
    right: 0;
    top: 0;
}

#DisasterTableContainer {
    width: 100%;
    height: 100%;
}
